


.right{
    /* width: 32%; */
    width: 100%;
    margin-left: 20px;
    margin-right:30px ;
}
.rpart1{
    padding-top: 15px;
    font-size: 12px;
    color: #333;
    display: inline-block;
    font-family: "LKFuturaStd-Book";
    letter-spacing: 1px;
    line-height: 1.3;
}
.rp-1{
    font-size: 14px;
    font-family: "LKFuturaStd-Book";
    color:#999999;
    margin-top: 30px;
}
.rp-2{
    font-family: "LKFuturaStd-Heavy";
    font-size: 16px;
    margin-top: 10px;
    width:200px;
    color: #333;
}
.rp-3{
    color: #999999;
}
.rp-4{
    font-size: 22px;
    font-family:"LKSans-Bold";
    color:#00bac6;
    margin-top: 10px;
}
.rp-41{
    font-size: 11px;
    font-family: "LKFuturaStd-Book";
    color: rgb(51, 51, 51);
}
.Icon{
    margin-top: 30px;
    margin-left: 115px;
}
.bubble{
    width: 22px; 
    height: 22px;
    border: 1.5px solid rgb(51, 51, 51);
    border-radius: 50%; 
    padding: 1px; 
    margin-top: 7px; 
    cursor: pointer;
}
.uv{
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
    background-color:rgb(247, 241, 222);
    padding: 15px;
    /* width:230px; */
}
.uv1{
    font-family: "LKSans-Medium";
    font-size: 12px;
    color: rgb(51, 51, 104);
}
.uv2{
    margin-top: 8px;
    font-family: "LKSans-Bold";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 66);
}
.buybt{
    margin-top: 25px;
    border-radius: 7px;
    color:white;
    width:100%;
    height: 55px;
    background-color: #00bac6;
    border: none;
    font-family: "LKFuturaStd-Book"; 
    font-size: 14px; 
    cursor: pointer;
}
.tryonbt{
    width:100%;
    height: 55px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding:0px 25px ;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    cursor: pointer;
}
.tryim{
    margin-top:-6px;
}
.trytxt{
     margin-top: 18px;
     margin-left: 100px;
     font-family:"LKFuturaStd-Medium";
     font-size: 13px;
}
.down1{
    width:100%;
    padding-top: 25px; 
    color: rgb(51, 51, 51);
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.dn{
    display: flex;
    justify-content: space-between;
    font-family: "LKFuturaStd-Medium";
    font-size: 15px;
    letter-spacing: 1.3px;
    font-weight: 500;
    letter-spacing: 0.06cm;
    cursor: pointer;
}
.arri {
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Half of the desired width */
    border-right: 5px solid transparent; /* Half of the desired width */
    border-top: 5px solid #999999;
}
.fim1{
    width: 100%;
    margin-top: 15px;
}
.viewim{
    display: grid;
}

@media screen and (max-width: 1300px){
    .right{
        width: 32%;
    }
}


.footer{
    background-color: #000042;
    color: #ffffff;
    padding-bottom:2px;
    /* padding-left:60px;
    padding-right: 60px; */
    width: 100%;
}
.foo-wh{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
  }
  .foo-wh li{
    list-style-type: none;
    padding-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    font-family: "LKSans-Regular";
  
  }
.foo-wh ul {
    padding: 0;
    margin: 0; 
}
.service1{
    width: 35%;
    display: flex;
    justify-content:space-between;
}
.zzz{
  text-align: center;
  margin-top: 30px;
}
.zzz img{
  margin-left: 5px;
}
.www{
  text-align: center;
  margin-top:30px;
  font-size: 14px;
  font-family: "LKSans-Regular";
  line-height: 1.5;
  padding-left: 10px;
}
.hr{
    margin-left: 40px;
    margin-right: 40px;
}
.t{
    margin: 40px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .t p{
    margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: "LKSans-Regular";
  }
  .ver{
    display: flex;
    margin-right: 20px;
    justify-content: space-around;
  }
  .ver a{
    color: #ffffff;
    text-decoration: none;  
    font-size:12px;
    font-family: "LKSans-Regular";
  }
  /* .ver img{
    width: 40px;
    height: 100ppx;
  } */
  .ic{
   margin-left: 15px;
  }
.msg{
     left:  1200px;
      width: 2%;
      fill:white;
     padding:15px;  
     /* right: 1.5%; */
     top:81%;
     background-color: #000042;
     border-radius: 50%;
     cursor: pointer;
     position: fixed;
     z-index: 1;
}
@media screen and (max-width: 375px){
    .fim1{
        width:100%;
        margin-top: 15px;
    }
    .viewim{
        grid-template-columns: 48.5% 48.5%;
        gap: 10px;
    }
    .right{
        /* background-color: aqua; */
        width:100%;
        margin-right:0px;
        margin-left: 0px;
    }
    .fim1{
        margin-top:0px;
    }
    .jj{
       margin-top: 40px;
    }
    .service1{
        width:280px;
    }
    .foo-wh{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        width: 80%;
    }
    .hr{
        margin: 10px 10px;
    }
    .zzz{
        margin-top: 0px;
    }
    .t{
        flex-direction: column;
        margin: 20px 20px;
    }
    .ver{
        margin-top: 10px;
        width:280px;
        margin-left: 0px;
        /* margin-right:110px; */
    }
    .msg{
        left: 310px;
        top: 565px;
        width: 20px;
    }
    .rrr{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Icon{
        margin-left:100px;
    }
    
}



.acc2 {
    /* background-color: #e0e0e0; */
    padding: 10px;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: transform 1s ease-out;
    transform-origin: top;
    transform: scaleY(0); /* Use scaleY(0) to hide the content */
}

.opened {
    max-height: 500px; /* Adjust the max height as needed */
    transition: transform 0.6s ease-out;
    transform: scaleY(1); /* Use scaleY(1) to show the content */
}

.rotate180 {
    transform: rotate(180deg);
}

.summary1 {
    display: flex;
    /* position: relative; */
    padding-top: 20px;
}

.summary1 li {
    list-style-type: none;
    font-size: 13px;
    color: #666666;
    letter-spacing: 1.3px;
    font-family: "LKFuturaStd-Light";
    line-height: 2;
}

.summ li {
    color: #000000;
    font-family: "LKFuturaStd-Book";
}

.summ2 {
    font-family: "LKFuturaStd-Medium";
    letter-spacing: 1.3px;
    font-size: 13px;
    line-height: 1.4;
    color: #666666;
    margin-left: 5%;
}
.input-container {
    position: relative;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #acacac;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
}

.input-wrapper input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    border: none;
    outline: none;
}

.input-wrapper .placeholder {
    position: absolute;
    margin-top: 6%;
    left: 2%;
    transform: translateY(-50%);
    font-family: "LKFuturaStd-Medium";
    letter-spacing: 1.3px;
    font-size: 13px;
    color: #8b8b8b;
    pointer-events: none;
    transition: transform 0.4s;
    background: none;
    z-index: 2;
}

.input-wrapper input[type="text"]:focus + .placeholder {
    transform: scale(1.0) translateY(-30px);
    background:white;
}

/* .input-wrapper input[type="text"]:focus + .placeholder {
    color: #8b8b8b;
} */

.input-wrapper button {
    color: #007bff;
    background-color: white;
    font-size: 0.85em;
    font-family: "LKFuturaStd-Book";
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 15px;
    cursor: pointer;

}
.sumary{
    padding-top: 20px;
    font-family: "LKFuturaStd-Book";
    font-size: 14px;
    letter-spacing: 1px;
}
.sumary button{
    margin-top: 20px; width: 100%; 
    height: 45px; 
    border: none; 
    border-radius: 5px; 
    background-color:#00bac6;    
    color: white; 
    cursor: pointer;
    font-family: "LKFuturaStd-Book";
    font-size: 14px;
    letter-spacing: 1px;
  
}




  
