body{
  background-color: #F5F5FF;
}
/* .wrapper{
  padding: 70px 0;
} */
/* Default slide */
.center-slider .im{
  background-color: #b32532;
  color: #FFF;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.4);
  transition: all 0.4s ease-in-out;
}


/* Active center slide (You can change anything here for cenetr slide)*/



.slick-next, .slick-prev{
  z-index: 5;
}
.slick-next{
  right: 15px;
}
.slick-prev{
  left: 15px;
}
.slick-next:before, .slick-prev:before{
  color: #000;
  font-size: 26px;
}